.List {
  margin-top: 30px;

  font-weight: 500;
  font-size: 18px;
}

.Item {
  display: flex;
  justify-content: space-between;
}

.Item:not(:last-child) {
  margin-bottom: 10px;
}

.Text {
  font-weight: 500;
  font-size: 18px;
}

.Span {
  color: rgb(0, 0, 0);
  font-style: italic;
  font-weight: 400;
  font-size: 27px;
}

.Button {
font-size: 24px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: rgb(3, 3, 3);
  outline: none;
}
.Button:hover {
  border-bottom: 2px solid rgb(255, 0, 0);
  color: hsl(0, 0%, 100%);
  transform: scale(1.1);
}
